/*Variáveis*/

.caixa {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .conteudo {
    text-align: center; 
  }

  .grid_inputs
  {
    display: grid;
    grid-template-columns: 25vw 25vw;
    grid-template-rows: 12vh 12vh 12vh 12vh;
    width: 50vw; height: 50vh;
    background-color: #FFE573;
    border-radius: 5px;
    box-shadow: 10px 10px 8px grey;
    .container_input
    {
      display: block;
      flex-direction: column;
      text-align: left;
      margin: 1vh;
    }
      input
      {
        outline: none;
        padding: 12px;
        width: 90%; height: 3.5vh;
        border-radius: 8px; border-style: none;
      }
    #senha
    {
      grid-area: 1/2/1/2;
    }
    #confirme
    {
      grid-area: 2/2/2/2;
    }
    #senha,#confirme
    {
      transform: translateY(7vh);
    }
    #nome
    {
      grid-area: 1/1/1/1;
    }
    #email
    {
      grid-area: 2/1/2/1;
    }
    #telefone
    {
      grid-area: 3/1/3/1;
    }
    #nome,#email,#telefone
    {
      margin-left: 15px;
    }
    #botao_criar
    {
      grid-area: 4/1/4/2;
      transform: translateX(17.5vw);
      width: 15vw; height: 8vh;
    }
  }
 