

@media (max-width: 768px){
    body{
        align-items: center;
    }
    
    
}

body{
    margin: auto;
    padding: 0px;
    min-width: 900px;
    max-width: 2560px;
    
}
.devs{
 
    background-color: rgb(43, 41, 41);
    text-align: center;
    height: 400px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;


}
.logo img{
    width: 45px;
    height: 50px;
    background-color: #ffcc00ff;

}
.navmenu{
    display: flex;
}
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: white;
}
.nav-icon a{
    color: #2c2c2c;
    padding: 10px;
    display: flexbox;
}
.nav-icon a:hover{
    color: white;
}
section{
    padding: 30% 10%;

}
.main-home{
    width: 100%;
    height: 86vh;
    background-image: url(PlannerEco.png);
    background-position: center;
    background-size:70%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.main-image{
    position: relative;
    left: 40%;
    top: 60%;
    background-position: center;

}
.main-text h5{
    color: crimson;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text{
    color: #333c56;
    font-size: 20px;

}
.main-text h1{
    color: #000;
    font-size: 45px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;


}
.main-btn{
    display: inline-block;
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid black;
    padding: 10px 20px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: black;
    color: #ffff;

}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    right: 11%;
}
.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
}
.down i:hover{
    background-color: #2c2c2c;
    color: #ffff;
    transition: all .42s esse;
}
hr{
    color: #2c2c2c;
    margin: 10px;
}
.video{
    position: relative;
    right: 10%;
    background-color: rgb(53, 53, 48);
    width: 580px;
    height: 330px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}
.center-text h2{
    text-align: center;
    font-size: 30px;
}
.descricao{
    display: inline-flex;

}
.sobre{
    width:100%;
    height: 50%;
    color:black;
    
}
a{
    text-decoration: none;

}
.txt-sobre{
    text-align:right;
    margin-right: 35%;
    margin-top:4%;
}
.produtos-populares li{
    display: inline-block;
    justify-content: center;
    border-color: #000;
    margin-right: 5%;
    margin: 10%;
    
}
.product-slider{
    background-color: #e6e6e6;
    padding: 0px 20px;
    box-sizing: border-box;
    position: relative;

}
.product-box{
    display: flex;
    flex-direction: column;
    width: 400px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0,0,0,0.03);
    overflow: hidden;
    transition: all ease 0.3s;
}
.product-box strong{
    color:#29292c;
    font-size: 1.75rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 24px;
}
.product-box img{

    width: 210px;
    height: 250px;
    display: flex;

    padding: 20px 0px;
    object-fit: contain;
    object-position: center;
    margin: 20px auto;

}
.available-color{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.available-color .product-color{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    display: flex;
    border: 1px solid  rgba(0,0,0,0.1);
    box-shadow: inset;
    margin: 3px;
}
.buy-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px;
}
.buy-price p{
    color:#6e6e73;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    max-width: 250px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.buy-price .buy-btn{
    color: #ffffff;
    background-color: #000;
    text-decoration: none;
    width: 80px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .42s ease;
    font-size: 14px;
}
.buy-btn:hover{
    background-color: #ffcc00ff;
    color: #000;
}
.lSPager{
    display: none;
    
}
.lSAction > a{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lSAction > a::after{
    background-position:left;
    display: none;
    position:absolute;
    content: '';
    margin: auto;
    border:  solid #ffffff;
    border-width: 0px 4px 4px 0px;
    display: inline-block;
    

}
.product-slider h1{
    text-align: center;
}
.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;

}
.center-text span{
    color: #EE1C47;
}
.center-text{
    padding-bottom: 80px;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
    
}
.row{
    font-family: 'Jost', sans-serif;
    position: relative;
    transition: all .40s;
    border: 1px solid rgb(185, 185, 185);
    padding: 5%;
    background-color: #F3F4F6;
}
.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
    
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercas;
    background-color: #27b737;
    border-radius: 2px;
    padding: 3px 10px;
    
}
.heart-icon{
    position: flex;
    right: 0;
    font-size: 20px;
    width: 24px;
}
.heart-icon:hover{
    color: #EE1C47;
}
.ratting{
    color: #FF8C00;
    font-size: 18px;
}
.price p{

    color: #151515;
    font-size: 14px;
    font-weight: 600;
}
.price h4{
    color: rgb(31, 30, 30);
}
.client-reviews{
    background-color: grey;
}
.review h3{
    color: #111;
    font-size: 25px;
    text-transform:capitalize;
    text-align: center;


}

.review img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 10px 0;
}
.review{
    text-align: center;
}
/*SLIDER*/
.swiper-wrapper{
    padding-bottom: 18px;
}


.swiper{
    height: 30%;
    width: 100%;
    margin-top: 6%;
    display: flex;
}
.swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 620px;
    width: 100%;
    background-color: white;
}
.swiper .swiper-button-prev{
    color: rgb(0, 0, 0);
}
.swiper .swiper-button-next{
    color: black;
}
.swiper .swiper-button-prev:hover{
    color:#ffcc00ff;
}
.swiper .swiper-button-next:hover{
    color: #ffcc00ff;
}
.produ{
    display: flex;
    padding: 120px 0 80px 0;
    text-align: center;
    justify-content: center;
}
.price .button{
    display: flex;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    
    
   
    
}
.button{
    display: flex;
    padding: 10px 20px;
    background-color: #000000; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remova a borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Mude o cursor ao passar o mouse */
    text-align: center;
    margin: 20%;
    transition: all .42s ease;
}
.button:hover{
    background-color: #ffbb00;
    color: #000;
}
.produ{
    background-color: #e6e6e6;
    padding: 10px;
    margin-bottom: 100px;
}
#header1{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}
/* Estilos para o cabeçalho que aparece quando você rola para baixo */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #ffcc00ff;
}  
@media (max-width: 500px) {
    .whats {
        width: 40px;
        height: 40px;
        font-size: 20px;
        bottom: 20px; 
        right: 20px;  
    }
}
.whats{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
.filled-heart {
    color: red; /* Altere para a cor desejada */
}
.filled-star{
    color:#000;

}
@media (max-width: 768px) {
    .navmenu {
        display: flex;
        flex-direction:row; /* Stack navigation links vertically on small screens */
    }

    .navmenu a {
        padding: 10px; /* Adjust spacing for smaller screens */
    }

    .nav-icon a {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .main-home {
        height: auto; /* Remove fixed height for smaller screens */
        background-size: 100%; /* Adjust background size for smaller screens */
    }

    .main-image {
        left: 0; /* Reset positioning for smaller screens */
        top: 0; /* Reset positioning for smaller screens */
    }

    .center-text {
        padding-bottom: 40px; /* Adjust padding for smaller screens */
    }

    .products {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); /* Responsive grid layout */
        gap: 1rem; /* Adjust gap for smaller screens */
    }

    .row {
        padding: 3%; /* Adjust padding for smaller screens */
    }
    
    .button {
        margin: 10%; /* Adjust margin for smaller screens */
    }
}
@media screen and (max-width: 768px) {
    #header1{
        .navmenu {
            display: none; /* Oculta o menu principal */
        }

        .nav-icon {
            display: block; /* Mostra os ícones de navegação */
        }

    }
}
